@model List<RappBrasil.Models.Usuario>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Usuários</h1>

<script type="text/javascript" src="~/Scripts/Usuario.js"></script>
<div class="row">
    <div id="empresasView" class="col-md-6 col-md-offset-3">
        <div class="row rowerros">
        </div>
        <div class="row text-right" style="margin-bottom:13px;">
            <input type="button" onclick="ModalUsuario()" id="Novo" value="Adicionar novo usuário" class="btn-info btn" />
        </div>
        <table id="tbusuario" class="table">
            <thead class="thead-inverse">
                <tr>
                    <th style="display:none;"></th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Empresa</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var usuario in Model)
                {
                    <tr>
                        <td style="display:none;"><input class="codusuario" type="hidden" value="@usuario.Cod_Usuario" /></td>
                        <td class="tdnome">@usuario.Nome</td>
                        <td class="tdtelefone">@usuario.Telefone</td>
                        <td class="tdemail">@usuario.Email</td>
                        <td class="tdempresa">@usuario.Empresa</td>
                        <td><a href="javascript: Editar('@Json.Encode(usuario)')">Editar</a></td>
                        <td><a href="javascript: deletar(@usuario.Cod_Usuario, '@usuario.Nome')">Deletar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="popup" class="popup" style="width: 800px; height: 410px; display:none;">
        <span class="button b-close"><span>X</span></span>
        <form class="form" id="FormUsuario">
            <input type="hidden" id="hdnCod_Usuario" />
            <div class="form-group">
                <label for="Nome">Nome</label>
                <input id="Nome" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Telefone">Telefone</label>
                <input type="tel" id="Telefone" class="tel form-control" />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" type="email" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Empresa">Empresa</label>
                <input id="Empresa" class="form-control" required />
            </div>
            <div class="row text-right">
                <button class="btn btn-primary" type="submit" id="btnsave">Salvar</button>
            </div>
        </form>
    </div>
</div>
<script>
   

</script>